name: Rolling Check Docs

on:
  workflow_dispatch:
  pull_request:
    branches:
      - ros2-master
    paths:
      - '**.rst'
      - '**.md'
      - '**.jpg'
      - '**.jpeg'
      - '**.png'
      - '**.svg'
      - '**.yml'
      - '**.yaml'
      - '!.github/**' # exclude yaml files in .github directory
      - '.github/workflows/rolling-check-docs.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-docs:
    name: Check Docs
    uses: ros-controls/control.ros.org/.github/workflows/reusable-sphinx-check-single-version.yml@rolling
    with:
      CONTROL_TOOLBOX_PR: ${{ github.ref }}
