name: Rolling - RHEL Semi-Binary Build
on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
    paths:
      - '**.hpp'
      - '**.h'
      - '**.cpp'
      - '**.py'
      - '**.yaml'
      - '.github/workflows/rolling-rhel-semi-binary-build.yml'
      - '**/package.xml'
      - '**/CMakeLists.txt'
      - 'control_toolbox.rolling.repos'
      - '**.xml'
  schedule:
    # Run every day to detect flakiness and broken dependencies
    - cron: '03 3 * * MON-FRI'

concurrency:
  # cancel previous runs of the same workflow, except for pushes on given branches branch
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !startsWith(github.ref, 'refs/heads') }}

jobs:
  rhel_semi_binary_build:
    uses: ros-controls/ros2_control_ci/.github/workflows/reusable-rhel-binary-build.yml@master
    strategy:
      fail-fast: false
      matrix:
        ROS_DISTRO: [rolling]
    with:
      ros_distro: ${{ matrix.ROS_DISTRO }}
      upstream_workspace: control_toolbox.${{ matrix.ROS_DISTRO }}.repos
      ref_for_scheduled_build: master
